@import url("common.css");



/** ì •ê¸°êµ¬ë… ê°€ê²© ë³€ê²½ ì•ˆë‚´ **/
#price_pop {position:fixed; top:0; left:0; width:100%; height:100vh; z-index:999999; min-width:320px;}
#price_pop.hidden {display:none;}
#price_pop .pop_mask {display:block; width:100%; height:100%; background:rgba(0,0,0,0.8);}
#price_pop .price_pop_in {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:680px;}
#price_pop .price_pop_in > a {display:block; margin:0 auto 30px; width:30px;}
#price_pop .price_pop_in .price_cont {width:100%; border-radius:20px; background:#fff; padding:55px 40px 25px; box-sizing:border-box; text-align:center;}
#price_pop .price_pop_in .price_cont h4 {font-size:1.471rem; font-weight:bold; color:#222; letter-spacing:-0.8pt;}
#price_pop .price_pop_in .price_cont h5 {font-size:1.176rem; color:#222; font-weight:500; letter-spacing:-0.5pt; line-height:1.5; text-align:left; margin:32px 0 15px;}
#price_pop .price_pop_in .price_cont p {letter-spacing:-0.5pt; line-height:1.5; margin:14px 0 30px;}
#price_pop .price_pop_in .price_cont p b {font-weight:bold; letter-spacing:inherit; line-height:inherit;}
#price_pop .price_pop_in .price_cont .termination_cont {border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:25px 0;}
#price_pop .price_pop_in .price_cont .termination_cont dl {display:flex; flex-wrap:wrap; text-align:left !important; margin:0 0 10px;}
#price_pop .price_pop_in .price_cont .termination_cont dl:last-child {margin:0;}
#price_pop .price_pop_in .price_cont .termination_cont dl dt {width:90px; color:#222; font-size:15px; font-weighT:400; letter-spacing:-0.5pt;}
#price_pop .price_pop_in .price_cont .termination_cont dl dd {width:calc(100% - 90px);font-size:15px; font-weighT:400; letter-spacing:-0.5pt;}

#price_pop .price_pop_in .btn_wrap {font-size:0; margin:40px 0 20px;}
#price_pop .price_pop_in .btn_wrap a {display:inline-block; width:200px; line-height:60px; border-radius:50px; background:#888897; color:#fff; letter-spacing:-0.5pt; font-weight:400; text-align:center; font-size:1rem; margin:0 2px;}
#price_pop .price_pop_in .price_cont p.pop_close {margin:0; text-align:right; font-size:15px; font-weight:400;}


#price_pop .card_notice {font-size:15px; border-top:1px solid #ddd; letter-spacing:-0.5pt; padding:15px 0; font-weight:400; text-align:left !important;}

#price_pop .scroll_wrap {height:500px; overflow-y:scroll;}
#price_pop .termination_cont dl {align-items:center;}
#price_pop .termination_cont dl dd {display:flex; flex-wrap:wrap; align-items:center;}
#price_pop .termination_cont dl dd label {margin-right:30px;}
#price_pop .termination_cont dl dd .center {text-align:center;}
#price_pop .termination_cont dl dd .input_s {width:calc((100% - 54px) / 4);}
#price_pop .termination_cont dl dd .input_m {width:210px !important;}
#price_pop .termination_cont dl dd .hipen {width:18px; font-size:15px; font-weighT:400; color:#666; text-align:center;}

#price_pop .check_list {margin:0 0 30px;}


#price_pop .termination_in .price_cont p {margin:25px 0;}
#price_pop .termination_in .btn_wrap {margin:0;}

#price_pop.termination {display:none;}
#price_pop.termination.visible {display:block;}

#price_pop.complete .termination_in {width:480px;}
#price_pop.complete {display:none;}
#price_pop.complete.visible {display:block;}

#price_pop.card {display:none;}
#price_pop.card.visible {display:block;}




.price_table { width:100%;}
.price_table .line {border-right:1px solid #ddd;}
.price_table .change {color:#f02c78;}
.price_table th {font-size:15px; color:#222; letter-spacing:-0.5pt; line-height:1; padding:15px 0; font-weight:400; border-bottom:1px solid #ddd; box-sizing:border-box; border-top:1px solid #222;}
.price_table th.change {border:3px solid #f02c78; border-bottom:0;  border-bottom:1px solid #ddd; }
.price_table td {font-size:15px; font-weight:400;  color:#666; line-height:1.5; padding:13px 5px; box-sizing:border-box; border-bottom:1px solid #ddd; box-sizing:border-box;}
.price_table td b {font-weight:bold;}
.price_table td.change {border-left:3px solid #f02c78; border-right:3px solid #f02c78;}
.price_table tr:last-child td.change {border-bottom:3px solid #f02c78;}
.price_table td.pointColor {text-align:left;}
.mo_line {display:none;}
/** ì •ê¸°êµ¬ë… ê°€ê²© ë³€ê²½ ì•ˆë‚´ **/




/**** ê³µí†µ CSS ****/
.marb30 {margin:0 0 30px;}
.whiteBox {position:relative; padding:35px 30px; box-sizing:border-box; border-radius:20px; background:#fff; margin-bottom:20px; border: 1px solid #008000;}
.whiteBox img{width:50px; higth:50px; float:left;}
.whiteBox .selectBox {position:absolute; top:25px; right:30px; box-sizing:border-box;}
.whiteBox .myinfo_cont .bad {color: #e01717 !important; border-color: #e01717 !important;}

input { appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
input[type="checkbox"] {display:inline-block; width:20px; height:20px; border:1px solid #bbb; border-radius:5px; position:relative; top:-1px; background:#fff; margin:0; margin-right:5px;}
input[type='checkbox']:checked {background:#222 url('/theme/6/img/main/check_icon.png')no-repeat center; border:1px solid #222;}

input[type="radio"] {display:inline-block; width:20px; height:20px; border:1px solid #bbb; border-radius:100%; position:relative; top:-2px; background:#fff; margin-right:5px;}
input[type="radio"]:checked {border:5px solid #222;}

.period_1 {display:inline-block; font-size:15px; font-weight:400; letter-spacing:-0.5pt; width:80px; height:48px; line-height:44px; text-align:center; border-radius:5px !important; background-color:#fff; border:1px solid #ddd; box-sizing:border-box; margin-right:4px; vertical-align:top; cursor:pointer;}
.period_1.bgColor.pointBorder {color:#fff;}

input.input {font-size:15px; width:100%; height:48px; border:1px solid #ddd; box-sizing:border-box; border-radius:5px !important; vertical-align:middle; padding:10px;}

.textarea {font-size:15px; width:100%; border:1px solid #ddd; box-sizing:border-box; border-radius:5px !important; vertical-align:middle; padding:10px;}

.search_btn2 {font-size:15px; font-weight:400; letter-spacing:-0.5pt; width:80px; height:48px; line-height:44px; text-align:center; border-radius:5px !important; background-color:#3c3e40; border:1px solid #3c3e40; box-sizing:border-box; vertical-align:top; color:#fff; box-sizing:border-box; cursor:pointer; margin-left:4px;}

.btn_type1 {font-size:14px; font-weight:400; letter-spacing:-0.4pt; color:#666; border:1px solid #bcbcbc; line-height:1; letter-spacing:-0.6pt; padding:5px 12px; box-sizing:border-box; border-radius:5px !important; margin-left:5px; font-style:normal;}
.btn_type2 {font-size:14px; font-weight:400; letter-spacing:-0.4pt; color:#fff; border:1px solid #bcbcbc; background:#bcbcbc; line-height:1; letter-spacing:-0.6pt; padding:5px 12px; box-sizing:border-box; border-radius:5px !important; margin-left:5px; font-style:normal;}
.btn_type3 {display:inline-block !important; height:auto !important; font-size:14px; font-weight:400; letter-spacing:-0.4pt; color:#666; border:1px solid #bcbcbc; line-height:1 !important; letter-spacing:-0.6pt; padding:10px; box-sizing:border-box; border-radius:5px !important; margin-left:5px; font-style:normal;}


.bbs_btn {overflow:hidden; font-size:0; margin:15px 0 0; padding:0;}
.bbs_btn .period_1 {float:left; margin-right:0;}
.bbs_btn > div {float:right; width:calc(100% - 82px); font-size:0; text-align:center;}
.bbs_btn > div > a {display:inline-block; margin:0; width:155px; height:46px; line-height:46px; background-color:#bcbcbc; color:#fff; border-radius:50px; font-size:15px; font-weight:400; letter-spacing:-0.5pt; vertical-align:top; text-align:center; margin:0 2px;}
.bbs_btn > div > button {display:inline-block; border: none; margin:0; width:155px; height:46px; line-height:46px; background-color:#bcbcbc; color:#fff; border-radius:50px; font-size:15px; font-weight:400; letter-spacing:-0.5pt; vertical-align:top; text-align:center; margin:0 2px;}
.bbs_btn > div > button:hover { cursor: pointer;}


.photo_list {padding-top:0; border-top:0;}

a.close {width:30px; height:30px; background-color:#c6c6d0; border-radius:100%; display:inline-block; vertical-align:middle; background-image:url('/theme/6/img/main/com_close.png'); background-repeat:no-repeat; background-position:center; border-right:1px solid #bbb; border-bottom:1px solid #bbb; box-sizing:border-box;}
/**** ê³µí†µ CSS ****/



/**** ê´€ë¦¬ìž ë©”ì¸ ****/
.state_cont {display:block; width:100%; text-align:center; padding:25px 30px;}
.state_cont dl {width:21%; font-size:0; display:inline-block; text-align:left !important;}
.state_cont dl dt {display:inline-block; vertical-align:middle; width:100px; height:100px; border-radius:100%; overflow:hidden;}
.state_cont dl dd {display:inline-block; vertical-align:middle; padding-left:20px;}
.state_cont dl dd h3 {font-size:1.176rem; font-weight:500; color:#222; line-height:1;}
.state_cont dl dd h3 b {position:relative; top:1px; font-family:'Outfit', sans-serif; font-size:2.118rem; font-weight:bold; line-height:1; margin-right:4px; display:inline-block;}
.state_cont dl dd p {font-size:15px; font-weight:400; line-height:1.3; letter-spacing:-0.5pt; margin:3px 0 0;}


.adm_tit {position:relative; font-size:1.176rem; color:#222; letter-spacing:-0.6pt; line-height:1; font-weight:500;}
.adm_tit span {font-size:1rem; font-weight:400; letter-spacing:inherit; line-height:inherit; display:inline-block; margin-left:5px;}
.adm_tit a {font-size:15px; letter-spacing:-0.5pt; font-weight:400 ;line-height:1; text-decoration:underline; color:#222; position:absolute; right:0; top:50%; transform:translateY(-50%);}
.adm_tit .check_txt {display:inline-block; font-size:15px; font-weight:400; letter-spacing:-0.5pt; margin-left:30px; vertical-align:top;margin-top:-4px;}
/**** ê´€ë¦¬ìž ë©”ì¸ ****/



/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/
.main_bbs {overflow:hidden; width:100%;}
.main_bbs .whiteBox {float:left; width:calc((100% - 20px) / 2);}
.main_bbs .notice {margin-right:20px;}
.main_bbs .whiteBox ul {border-top:1px solid #008000; margin:20px 0 0;}
.main_bbs .whiteBox ul li {border-bottom:1px solid #008000; position:relative; padding:16px 0;}
.main_bbs .whiteBox ul li p {font-size:15px; font-weight:400; line-height:1.5; letter-spacing:-0.5pt; margin:0 0 2px; padding-right:85px; box-sizing:border-box;}
.main_bbs .whiteBox ul li h4 {color:#222; letter-spacing:-0.5pt; line-height:1.2; font-weight:300; padding-right:85px; box-sizing:border-box;}
.main_bbs .whiteBox ul li h4.no_name {position:absolute; top:50%; transform:translateY(-50%);}
.main_bbs .whiteBox ul li h4 .state {width:50px; height:25px; display:inline-block; line-height:25px; color:#fff; border-radius:50px; text-align:center; font-size:13px; color:#fff; letter-spacing:-0.5pt; margin-right:5px;}
.main_bbs .whiteBox ul li h4 .state.wait {background:#c6c6d0;}
.main_bbs .whiteBox ul li .date {font-size:15px; font-weight:400; color:#888; position:absolute; top:50%; right:0; transform:translateY(-50%);}
.main_bbs .whiteBox ul li.nodata{padding: 60px 0;display: flex;align-items: center;justify-content: center;}
/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/


/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing {display:flex; flex-wrap:wrap; margin:20px 0 0;}
.process_ing .nodata{border-top:1px solid #bcbcbc;}

.process_ing dl {width:calc((100% - 75px) / 4); margin-right:25px; margin-bottom:30px; border:1px solid #ddd; box-sizing:border-box; border-radius:25px;}
.process_ing dl:nth-child(4n) {margin-right:0;}
.process_ing dl dt {position:relative; border-bottom:1px solid #ddd;} /* border-bottom:1px solid #ddd; ì¶”ê°€ */
.process_ing dl dt .cate {z-index:99;}
/*
.process_ing dl dt .img {position:relative; left:-1px; top:-1px; z-index:9; width:100%; border-radius:25px 25px 0 0; background-repeat:no-repeat; background-position:center; background-size:cover; width:calc(100% + 2px);}
 */
.process_ing dl dt .img {position:relative; width:100%; border-radius:25px 25px 0 0; background-repeat:no-repeat; background-position:center; background-size:cover;}
.process_ing dl dd {position:relative; padding:30px; box-sizing:border-box; border-top:0; border-radius:0 0 25px 25px;}
.process_ing dl dd h4 {font-size:1.176rem; color:#222; letter-spacing:-0.6pt; line-height:1.3; font-weight:300; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; height: 3rem;}
.process_ing dl dd h4 a {font-size:inherit; letter-spacing:inherit; line-height:inherit; color:inherit;}
.process_ing dl dd p {position:relative; font-size:15px; font-weight:400; letter-spacing:-0.5pt; margin:15px 0 20px; padding-right:80px; box-sizing:border-box;}
.process_ing dl dd p span {font-size:15px; color:#222;  line-heighT:1; position:absolute; top:4px; right:0;}
.process_ing dl dd .percent {display:block; width:50px; height:50px; text-align:center; font-size:13px; box-sizing:border-box; font-weight:400; letter-spacing:-0.5pt; line-height:1.1; border-radius:100%; padding:10px 0; position:relative; left:calc(100% - 50px); margin:-68px 0 16px;}
.process_ing dl dd ul {margin:13px 0 20px;}
.process_ing dl dd ul li {word-break: break-all; position:relative; padding-left:65px; font-size:15px; font-weight:400; line-height:1.2; margin:0 0 5px;}
.process_ing dl dd ul li:last-child {margin:0;}
.process_ing dl dd ul li span {position:absolute; top:0; left:0; color:#222; font-weight:inherit; line-height:inherit;}

.btn_cont {font-size:0;}
.btn_cont a {display:inline-block; width:100%; line-height:46px; color:#fff; text-align:center; border-radius:50px; font-size:15px; letter-spacing:-0.5pt; font-weight:400; vertical-align:top; height:auto !important; background:#a6a6b2;}
.btn_cont a.end {background-color: #3c3e40;}
.btn_cont a.delete {background:#888897;}
.btn_cont.two a {width:calc((100% - 4px) / 2); margin-right:4px;}
.btn_cont.two a:last-child {margin-right:0;}

.process_ing.micro {}
.process_ing.micro dl {}
.process_ing.micro dl dd ul {min-height:18px;}
.process_ing.micro dl dd .btn_cont {margin:20px 0 0;}
/**** ìˆ˜ê°•í˜„í™© ****/




/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/
.calendar {position:relative; display:inline-block;}
.calendar a {position:absolute; right:16px; top:13px;}

.calendar_cont {border-radius:5px; padding:25px 20px; font-size:0; text-align:center; margin:30px 0 50px;}
.calendar_cont .month_btn {display:inline-block; vertical-align:top;}
.calendar_cont .calendar_input {display:inline-block; vertical-align:top;}
.calendar_hipen {display:inline-block;width:20px; vertical-align:middle; font-size:15px; font-weight:400;}
.calendar > .date {font-size:15px; width:160px; height:48px; border:1px solid #ddd; box-sizing:border-box; border-radius:5px !important; vertical-align:middle; padding:20px; cursor: pointer;
		background: url("/theme/6/img/main/calendar_btn.gif") no-repeat 120px #fff;
}

.qna_cont th {font-size:15px; font-weight:400; text-align:center; padding:24px 0;}
.qna_cont td {font-size:15px; color:#666; font-weight:400;}
.qna_cont td b {font-weight:bold; font-size:inherit; font-weight:bold; color:#222;}
.qna_cont td p.fail {position:relative; color:#ff0000; display:block; cursor:pointer;}
.qna_cont td p.fail i {position:absolute; top:-100%; left:50%; transform:translate(-50%,-15px); display:block; border:1px solid #ddd; background:#fff; border-radius:5px; font-size:0.8rem; font-weight:400; color:#666; letter-spacing:-0.3pt; padding:6px 10px; box-sizing:border-box; font-style:normal; width:100%; opacity:0; visibility:hidden; transition:all 0.3s; text-align:center;}
.qna_cont td p.fail:hover i {opacity:1; visibility:visible; transition:all 0.3s;}
.qna_cont td a.btn_type2 {display:inline-block; margin-left:0; padding:7px 12px; margin-top:3px;}
.qna_cont td li {position:relative; font-size:15px; font-weight:400; line-height:1.7;}
.qna_cont td li span {display:inline-block; margin-right:10px; font-size:inherit; line-height:inherit; font-weight:inherit; color:#222;}
.qna_cont td .cate {position:relative; bottom:0; right:0; margin-right:10px;}

.delivery_info {}
.delivery_info dl {display:table; width:100%; border:1px solid #ddd; margin-top:-1px;}
.delivery_info dl dt {background:#f8f9fc; display:table-cell; width:150px; text-align:center; border-right:1px solid #ddd; box-sizing:border-box; font-size:15px; color:#222; letter-spacing:-0.6pt; font-weight:400; line-height:1; padding:15px 10px;}
.delivery_info dl dd {display:table-cell; width:calc(100% - 150px); padding:15px 20px; font-size:15px; font-weight:400; color:#666; letter-spacing:-0.6pt; line-height:1.4;}

.sale_price p {position:relative; padding-left:35px;}


.pointColor {}
.refund_info {}
.refund_info dl {display:table; width:100%; margin:0 0 10px; }
.refund_info dl dt {display:table-cell; vertical-align:top; width:180px; color:#222; letter-spacing:-0.6pt; line-height:1.2; font-weight:400;}
.refund_info dl dt .pointColor {display:inline-block; height:0;}
.refund_info dl dt.pad0 {padding:0}
.refund_info dl dd {display:table-cell; vertical-align:top; width:calc(100% - 180px); font-size:0;padding-top:10px;} /* padding-top:10px; ì¶”ê°€ */
.refund_info dl dd p {font-size:1rem; color:#666; font-weight:400; line-height:1.2;}
.refund_info dl dd p.pointColor {display:inline-block; vertical-align:middle; font-size:15px; margin-left:15px; top:0;}
.refund_info dl dd p.pointColor i {display:inline-block; width:20px; height:20px; border-radius:100%; text-align:center; line-height:18px; font-style:normal; margin-right:5px;}
.refund_info dl dd .selectBox {position:relative; top:0; left:0; right:0; bottom:0; z-index:10;}
.refund_info dl dd .selectBox.active {z-index:11;}

.myinfo_cont {}
.myinfo_cont dl {border-bottom:1px solid #ddd; margin:0; padding:15px 0;}
.myinfo_cont dl:last-child {border-bottom:0;}
.myinfo_cont dt {vertical-align:middle !important;  line-height:1; width:130px !important;}
.myinfo_cont dd {vertical-align:middle !important; width:calc(100% - 130px) !important;}
.myinfo_cont dd .period_1 {margin:0 0 0 5px;}
.myinfo_cont dl dd .selectBox {margin:0 0 0 5px;}
.myinfo_cont dl dd .selectBox select {width:100% !important;}
.myinfo_cont dl dd .upfile {position:relative; display:inline-block;}
.myinfo_cont dl dd .upfile .close {position:absolute; top:50%; right:10px; transform:translateY(-50%);}

.check_box {display:inline-block; vertical-align:middle;}
.check_box label {font-size:15px; font-weight:400; letter-spacing:-0.7pt; color:#666; margin-right:25px;}
.check_box label:last-child {margin-right:0;}

.agree_box {top:0;}

.block_line label {display:block; margin-right:0; margin:0 0 10px !important;}
.block_line label:last-child {margin-bottom:0;}

.add_btn {width:120px; height:48px; border:1px solid #bcbcbc; line-height:46px; box-sizing:border-box !important; background:#fff; font-size:15px; letter-spacing:-0.5pt; font-weight:400; vertical-align:top; border-radius:5px !important; margin-left:4px; cursor:pointer;}

.hipen {width:15px; font-size:15px; font-weight:400; color:#666; vertical-align:middle; display:inline-block; text-align:center;}
.hipen2 {width:25px; font-size:15px; font-weight:400; color:#666; vertical-align:middle; display:inline-block; text-align:center;}
.input_m2 {width:200px !important;}
.select_email {margin-left:4px;}
.input_num {width:130px !important;}
.add_num {width:160px !important; margin:0 0 4px;}
.address {margin:0 0 4px;}
.input_l {width:620px !important;}
.input_m {width:300px !important;}
.input_file {width:500px !important;}
.select_email {margin:4px 0 0;}

.refund_cont .bbs_btn {margin:40px 0 0;}
/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/

.coupon_cont .calendar_input {display:block;}
.coupon_cont .search_btn2 {width:120px;}
.coupon_cont .input {width:350px;}


/**** íšŒì›ì •ë³´ ìˆ˜ì • - ë¡œê·¸ì¸ ****/
.login_box {width:350px; margin:0 auto; text-align:center; padding:70px 0;}
.login_box span {display:block; margin:0 auto 30px; width:120px; height:120px; border-radius:100%; background-image:url('/theme/6/img/mypage/main/password_icon.png'); background-repeat:no-repeat; background-position:center;}
.login_box h3 {font-size:1.176rem; color:#222; letter-spacing:-0.7pt; line-height:1.2; font-weight:500;}
.login_box p {font-size:15px; color:#666; letter-spacing:-0.7pt; line-height:1.7; font-weight:400; margin:10px 0 25px;}
.login_input {font-size:0;}
.login_input .input {width:250px;}
/**** íšŒì›ì •ë³´ ìˆ˜ì • - ë¡œê·¸ì¸ ****/



.redColor {background-color:#c00000 !important;}
.grayColor {background-color:#888897 !important;}

/**** êµ¬ë…ì •ë³´ ****/
.subscribe_cont {margin:30px 0 0;}
.subscribe_cont dl {display:flex; flex-wrap:wrap; border:1px solid #ddd; border-radius:20px; box-sizing:border-box; overflow:hidden; margin:0 0 15px;}
.subscribe_cont dl dt {width:calc(100% - 240px); padding:25px 40px; box-sizing:border-box;}
		.subscribe_cont dl dt h4 {font-size:20px; color:#222; letter-spacing:-0.7pt; font-weight:500;}
		.subscribe_cont dl dt h4 span {display:inline-block; min-width:90px; padding:5px 10px; box-sizing:border-box; border-radius:50px; font-size:15px; letter-spacing:-0.5pt; color:#fff; font-weight:400; text-align:center; background:#a6a6b2; margin-right:15px;}
		.subscribe_cont dl dt h4 p {display:inline-block; font-size:15px; font-weight:400; margin:0 15px 0 -10px; color:#777;}
		.subscribe_cont dl dt ul {display:flex; flex-wrap:wrap; margin:20px 0 0;}
		.subscribe_cont dl dt ul li {width:33.33%; font-size:15px; letter-spacing:-0.5pt; line-height:1.5; font-weight:400;}
		.subscribe_cont dl dt ul li span {font-size:inherit; letter-spacing:inherit; line-height:inherit; color:#222; width:80px; display:inline-block; font-weight:inherit;}
		.subscribe_cont dl dt ul li a {width:125px; line-height:30px; border:1px solid #a6a6b2; border-radius:50px; box-sizing:border-box; text-align:center;  color:#888897; font-size:15px; letter-spacing:-0.5pt; display:inline-block;  margin-left:15px;}
.subscribe_cont dl dd {width:240px; padding:0 40px; box-sizing:border-box; border-left:1px solid #ddd; display:flex; flex-wrap:wrap; align-content: center;}
.subscribe_cont dl dd a {display:block; width:100%; line-height:44px; height:46px;font-size:15px; font-weight:400; letter-spacing:-0.5pt; background:#fff; border-radius:50px; text-align:center; color:#fff; margin:0 0 4px; box-sizing:border-box;}
.subscribe_cont dl dd a:last-child {margin:0;}
/**** êµ¬ë…ì •ë³´ ****/









/*******************************************************************************
	@media ~1600px
*******************************************************************************/
@media all and (max-width:1600px) {

/**** ê´€ë¦¬ìž ë©”ì¸ ****/
/**** ê´€ë¦¬ìž ë©”ì¸ ****/


/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing dl dd .percent {position:relative; top:0; right:auto; left:calc(100% - 50px); margin:-40px 0 10px;}
/**** ìˆ˜ê°•í˜„í™© ****/

/**** êµ¬ë…ì •ë³´ ****/
.subscribe_cont dl dt {width:calc(100% - 200px); padding:20px 20px 20px 30px;}
.subscribe_cont dl dt ul li {width:50%;}
.subscribe_cont dl dt ul li a {width:85px; line-height:24px; font-size:13px; margin-left:7px;}
.subscribe_cont dl dd {width:200px; padding:0 20px;}

}
/*******************************************************************************
	@media ~1300px
*******************************************************************************/
@media all and (max-width:1300px) {


/**** ê´€ë¦¬ìž ë©”ì¸ ****/
.state_cont {font-size:0;}
.state_cont dl {width:25%; text-align:center; vertical-align:top;}
.state_cont dl dt {display:block; width:80px; height:80px; margin:0 auto;}
.state_cont dl dt img {width:100%;}
.state_cont dl dd {display:block; padding-left:0; text-align:center !important; padding-top:10px;}
.state_cont dl dd h3 {font-size:1.14rem;}
.state_cont dl dd h3 b {font-size:1.8rem;}
.state_cont dl dd p {font-size:14px; font-weight:400; line-height:1.3; letter-spacing:-0.5pt; margin:3px 0 0;}
/**** ê´€ë¦¬ìž ë©”ì¸ ****/


/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing dl {float:left; width:calc((100% - 30px) / 3); margin-right:15px;}
.process_ing dl:nth-child(4n) {margin-right:15px;}
.process_ing dl:nth-child(3n) {margin-right:0;}

.process_ing dl dd {padding:20px 15px;}
/**** ìˆ˜ê°•í˜„í™© ****/


/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/
.calendar_cont .month_btn {display:block; margin:0 0 5px;}
.calendar_cont .calendar_input {display:block;}

.calendar_cont .period_1 {width:132px;}
.calendar_cont .period_1:last-child {margin-right:0;}
/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/


}
/*******************************************************************************
	@media ~1100px
*******************************************************************************/
@media all and (max-width:1100px) {


.btn_type1 {margin-left:0;}
/* .btn_type2 {margin-left:0;} */
.btn_type3 {margin-left:0;}

/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/
.main_bbs .whiteBox ul li p {padding-right:0;}
.main_bbs .whiteBox ul li h4 {padding-right:0;}
.main_bbs .whiteBox ul li h4.no_name { position:relative; top:0; transform:translateY(0);}

.main_bbs .whiteBox ul li .date {display:block; position:relative; top:0; transform:translateY(0); margin:5px 0 0;}
/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/


/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/
.qna_cont {}
.qna_cont colgroup {display:none;}
.qna_cont th {display:none}
.qna_cont td {padding:15px 0; text-align:left; border-right:none;}
.qna_cont td .notice {width:35px; height:20px; line-height:18px; font-size:11px; margin-right:5px;}
.qna_cont .pc_line{display:none}
.qna_cont .mo_line{display:block !important; padding:15px 10px; }

.mo_line .tit {color:#222; font-weight:500; font-size:1rem; margin-bottom:5px; letter-spacing:-0.5pt; line-height:1.5; padding-right:0px}
.mo_line .tit a {font-size:1.1rem; color:#222; letter-spacing:-0.3pt;}
.mo_line .tit a img {max-width:12px; max-height:12px;}
.qna_cont td .status {font-size:12px; width:60px; line-height:26px; margin:0 0 10px 0; display:block; position:absolute; top:50%; right:0; transform:translate(0, -50%);}

.bbs_dot {}
.bbs_dot {padding-right:65px}
.bbs_dot > li {position:relative; letter-spacing:-0.5pt; font-size:13px; padding:0 0 0 80px; margin-bottom:3px}
.bbs_dot > li:last-child {margin-bottom:0}
.bbs_dot > li > span {color:#222; letter-spacing:inherit; position:absolute; top:0; left:0}
/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/


.subscribe_cont dl {display:block;}
.subscribe_cont dl dt {width:100%; padding:20px 15px;}
.subscribe_cont dl dd {width:100%; padding:15px; border-left:0;}
.subscribe_cont dl dd a {width:calc((100% - 4px) / 2); margin-right:4px;}
.subscribe_cont dl dd a:last-child {margin-right:0;}


}
/*******************************************************************************
	@media 769~980px
*******************************************************************************/
@media all and (max-width:980px) {


.period_1 {width:70px; height:40px; line-height:36px; font-size:1rem;}

input.input {font-size:1rem; height:40px; line-height:36px; }
.calendar > .date {font-size:1rem; height:40px; line-height:36px; padding:5px 20px 5px 5px;}

.search_btn2 {font-size:1rem;  width:45px; height:40px; line-height:36px; margin-left:4px;}

.btn_type1 {font-size:12px; padding:2px 6px;}
.btn_type2 {font-size:12px; padding:2px 6px;}
.btn_type3 {font-size:12px; padding:2px 6px;}

.bbs_btn > div {width:calc(100% - 72px); font-size:0; text-align:center;}
.bbs_btn > div > a {width:125px; height:42px; line-height:42px; font-size:1rem;}
.bbs_btn > div > button {width:125px; height:42px; line-height:42px; font-size:1rem;}

.whiteBox {padding:20px;}

/**** ê´€ë¦¬ìž ë©”ì¸ ****/
.state_cont dl dt {width:70px; height:70px;}
/**** ê´€ë¦¬ìž ë©”ì¸ ****/


/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/
.main_bbs .whiteBox {float:none; width:100%;}
.main_bbs .notice {margin-right:0; }
.main_bbs .whiteBox ul {margin:15px 0 0;}
.main_bbs .whiteBox ul li {padding:13px 0; height: 75px;}
.main_bbs .whiteBox ul li .date {font-size:1rem;}
/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/



/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing{margin:15px 0 0;}
.process_ing dl {margin-bottom:15px;}
.process_ing dl dd p {font-size:1rem; margin:10px 0 15px; padding-right:0;}
.process_ing dl dd p span {display:block; font-size:1rem; position:relative; top:0; right:0; margin:3px 0 0;}

.btn_cont a {height:40px; line-height:40px; font-size:13px;}

.end_cont .process_ing dl {width:calc((100% - 15px) / 2);}
.end_cont .process_ing dl:nth-child(4n) {margin-right:15px;}
.end_cont .process_ing dl:nth-child(3n) {margin-right:15px;}
.end_cont .process_ing dl:nth-child(2n) {margin-right:0;}
/**** ìˆ˜ê°•í˜„í™© ****/



/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/
.calendar_cont {margin:40px 0 25px;}
.calendar a {right:10px; top:12px;}
.calendar a img {width:15px;}

.calendar_cont .month_btn {display:block; margin:0 0 5px;}
.calendar_cont .calendar_input {display:block;}
.calendar_cont .period_1 {width:100px;}

.qna_cont td li {font-size:1rem;}
.qna_cont td .cate {margin-right:5px;}
 .qna_cont td p.fail {}
  .qna_cont td p.fail i {border:0; background:transparent; position:relative; top:0; left:0; transform:translate(0); opacity:1; visibility:visible; display:inline-block; width:auto; padding:0; margin-left:6px; vertical-align:middle;}

.delivery_info {}
.delivery_info dl dt {font-size:1rem; padding:10px;}
.delivery_info dl dd {font-size:1rem; padding:10px 15px;}

.refund_info dl {margin:0 0 15px; border-bottom:0; padding:0;}
.refund_info dl dt {display:block !important; width:100% !important; margin:0 0 8px; padding:0;}
.refund_info dl dd {display:block !important; width:100% !important}
.refund_info dl dd p {position:relative; top:0;}
.refund_info dl dd p.pointColor {margin-left:0; margin-top:5px;}

.myinfo_cont {border-top:1px solid #222;}
.myinfo_cont dl {margin:0 !important; border-bottom:1px solid #ddd;}
.myinfo_cont dt {margin:0 !important; padding:15px 10px 0 !important; box-sizing:border-box;}
.myinfo_cont dd {padding:15px 10px !important; box-sizing:border-box;}
.myinfo_cont dl dd .selectBox {margin:5px 0 0;}

.myinfo_cont {border-top:1px solid #222;}
.myinfo_cont dl.table {display:table !important; width:100%;}
.myinfo_cont dl.table dt {display:table-cell !important; padding:15px 10px !important; width:100px !important; vertical-align:middle;}
.myinfo_cont dl.table dd {display:table-cell !important; width:calc(100% - 100px) !important; vertical-align:middle;}


.check_box {display:block;  top:0;}
.check_box label {font-size:1rem;}
.agree_box {margin:5px 0 0;}

.add_btn {width:100px; height:40px; line-height:38px; font-size:13px;}


.hipen {font-size:1rem;}
.hipen2 {font-size:1rem;}
.input_m2 {width:calc((100% - 25px) / 2) !important;}
.input_num {width:calc((100% - 30px) / 3) !important;}
.input_file {width:100% !important;}
.select_email {width:100% !important; margin-left:0;}

.input_m {width:100% !important;}
.input_l {width:100% !important;}
/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/



.coupon_cont .search_btn2 {width:100px;}
.coupon_cont .input {width:calc(100% - 104px);}


.subscribe_cont dl dt h4 {font-size:17px;}
.subscribe_cont dl dt h4 span {font-size:14px; min-width:75px; padding:3px 10px;}
.subscribe_cont dl dt ul {margin:15px 0 0;}
.subscribe_cont dl dt ul li {font-size:14px;}
.subscribe_cont dl dt ul li span {width:70px;}
.subscribe_cont dl dd a {font-size:14px; line-height:40px; height:42px;}

}
/*******************************************************************************
	@media 681 ~ 768px
*******************************************************************************/
@media all and (max-width:768px) {


#price_pop .price_pop_in {width:94%; }
#price_pop .price_pop_in > a {margin:0 auto 20px;}
#price_pop .price_pop_in > a img {width:20px;}
#price_pop .price_pop_in .price_cont {padding:35px 25px 20px;}
#price_pop .price_pop_in .price_cont h4 {font-size:1.2rem;}
#price_pop .price_pop_in .price_cont p {margin:5px 0 20px;}
#price_pop .price_pop_in .price_cont p br {display:none;}
#price_pop .price_pop_in .btn_wrap {margin:20px 0 10px;}
#price_pop .price_pop_in .btn_wrap a {width:115px; line-height:40px;}
#price_pop .price_pop_in .price_cont p.pop_close {font-size:13px;}

#price_pop .price_pop_in .price_cont h5 {margin:20px 0 10px;}
#price_pop .card_notice {font-size:13px; padding:10px 0;}

#price_pop .price_pop_in .price_cont .termination_cont {padding:20px 0;}
#price_pop .price_pop_in .price_cont .termination_cont dl dt {width:100%; font-size:13px; padding:0 0 6px;}
#price_pop .price_pop_in .price_cont .termination_cont dl dd {width:100%; font-size:13px;}

.price_table colgroup {display:none;}
.price_table th {display:none; text-align:left;  font-size:13px; padding:10px 5px;}
.price_table td {text-align:left; font-size:13px;}
.price_table td h5 {font-size:1.1rem; margin:2px 0 3px;}
.price_table td p {margin:0 !important; letter-spacing:-0.2pt !important}
.price_table th.check {display:block; width:100%;}
.pc_line {display:none !important;}
.mo_line {display:block !important;}


/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing dl {margin-bottom:15px; margin-right:10px; width:calc((100% - 10px) / 2);}
.process_ing dl:nth-child(4n) {margin-right:10px;}
.process_ing dl:nth-child(3n) {margin-right:10px;}
.process_ing dl:nth-child(2n) {margin-right:0;}
.process_ing dl dd {padding:15px 10px;}
.process_ing dl dd p {font-size:1rem; margin:10px 0 15px; padding-right:0;}
.process_ing dl dd p span {display:block; font-size:1rem; position:relative; top:0; right:0; margin:3px 0 0;}

.btn_cont a {height:40px; line-height:40px; font-size:13px;}
/**** ìˆ˜ê°•í˜„í™© ****/


.subscribe_cont dl dt ul li {width:100%}




}
/*******************************************************************************
	@media 481~680px
*******************************************************************************/
@media all and (max-width:680px) {

.marb30 {margin:0 0 15px;}

input[type="checkbox"] { width:16px; height:16px;}

input[type="radio"] {width:16px; height:16px;}
input[type="radio"]:checked {border:3px solid #222;}


.period_1 {width:50px; height:36px; line-height:32px;}

input.input {width:100%; height:36px; padding:5px;}

.textarea {font-size:1rem;  padding:5px;}

.search_btn2 {font-size:1rem;  width:45px; height:40px; line-height:36px; margin-left:4px;text-align:center;}

a.close {width:25px; height:25px;}


.whiteBox {padding:20px 15px; border-radius:15px; margin-bottom:15px;}
.whiteBox .selectBox {top:15px; right:15px;}

.bbs_btn .period_1  {float:none;}
.bbs_btn > div {float:none; width:100%; margin:0 0 10px;}
.bbs_btn > div > a {width:100px; height:38px; line-height:38px;}

.bbs_btn > div > button {width:100px; height:38px; line-height:38px;}


.lec_cont .cont_util .search {display:block !important;}

/**** ê´€ë¦¬ìž ë©”ì¸ ****/
.adm_tit {font-size:1.14rem;}
.adm_tit a {font-size:1rem;}
.adm_tit .check_txt {font-size:13px; margin-left:0;  display:block; margin-top:7px;}

.state_cont dl {width:50%;}
.state_cont dl:nth-child(-n+2) {margin-bottom:15px;}
.state_cont dl dt {width:65px; height:65px;}
.state_cont dl dd {padding-top:10px;}
.state_cont dl dd h3 b {font-size:1.4rem;}
.state_cont dl dd p {font-size:12px; margin:4px 0 0;}
/**** ê´€ë¦¬ìž ë©”ì¸ ****/


/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/
.main_bbs .whiteBox ul li h4 .state {width:40px; height:20px; line-height:20px; font-size:12px;}
/**** ë©”ì¸ - ê³µì§€ì‚¬í•­ ****/

/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing dl dd .percent {width:40px; height:40px; font-size:12px; padding:6px 0;}
/**** ìˆ˜ê°•í˜„í™© ****/



/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/
.calendar a {right:10px; top:11px;}
.calendar a img {width:15px;}

.calendar {width:calc(50% - 35px); }
.calendar_cont {margin:25px 0;}
.calendar_cont .month_btn {display:flex; margin:0 0 5px;}
.calendar_cont .calendar_input {display:flex;align-items: center;}
.calendar_cont .period_1 {width:calc((100% - 8px) / 3);}

.bbs_dot li {padding:0 0 0 65px;}

.delivery_info {}
.delivery_info dl dt {display:block; width:100%; text-align:left; border-right:0; border-bottom:1px solid #ddd;}
.delivery_info dl dd {display:block; width:100%; padding:10px;}

.refund_info dl {margin:0 0 5px;}
.refund_info dl dt {display:block; width:100%;}
.refund_info dl dd {display:block; width:100%;}

.refund_cont .bbs_btn {margin:20px 0 0;}

.myinfo_cont dd {padding:10px !important;}

.check_box label {margin-right:15px;}

.block_line label {margin:0 0 5px !important;}

.add_btn {height:36px; line-height:34px;}
.add_num {width:calc(100% - 104px);}
.input_file {padding:0 10px;}
/**** ê²°ì œë‚´ì—­ ì¡°íšŒ ****/



.coupon_cont .search_btn2 {width:80px;}
.coupon_cont .input {width:calc(100% - 84px);}



.myinfo_cont dl.table dt {width:75px !important;}
.myinfo_cont dl.table dd {width:calc(100% - 75px) !important;}


/**** íšŒì›ì •ë³´ ìˆ˜ì • - ë¡œê·¸ì¸ ****/
.login_box {width:94%; padding:40px 0;}
.login_box span {margin:0 auto 20px; width:80px; height:80px; background-size:25px;}
.login_box p {font-size:1rem; margin:10px 0 15px;}
.login_input .input {width:calc(100% - 49px);}
/**** íšŒì›ì •ë³´ ìˆ˜ì • - ë¡œê·¸ì¸ ****/



.subscribe_cont dl dt h4 {font-size:15px;}
.subscribe_cont dl dt h4 span {font-size:12px; min-width:60px;padding:2px 10px; margin-right:10px;}
.subscribe_cont dl dt ul li {margin:0 0 2px; font-size:13px;}
.subscribe_cont dl dt ul li a {font-size:12px; line-height:20px; margin-left:5px;}
.subscribe_cont dl dd {padding:10px;}
.subscribe_cont dl dd a {font-size:13px; line-height:36px; height:38px;}

#price_pop .scroll_wrap {height:350px; overflow-y:scroll;}

}
/*******************************************************************************
	@media 361~480px
*******************************************************************************/
@media all and (max-width:480px) {

.calendar > .date {width: 100%; padding: 5px;}
/**** ìˆ˜ê°•í˜„í™© ****/
.process_ing dl {width:100%; margin-right:0 !important;}
.end_cont .process_ing dl {width:100%; margin-right:0 !important}
.process_ing.micro dl dd ul {min-height:auto;}
/**** ìˆ˜ê°•í˜„í™© ****/


}
/*******************************************************************************
	@media ~360px
*******************************************************************************/
@media all and (max-width:360px) {

.calendar > .date {width: 100%; padding: 5px;}
}
